<h1>Create new user</h1>
<form action="/users" method="post">
	Email:
	<input type="text" name="email"><br><br>
	Password:
	<input type="password" name="password"><br><br>
	<input type="submit" value="Submit">
</form>
<br>
<a href="/users">Back to users</a>
